p {
    font-size: large;
    color: blue;
    font-weight: bolder;
    text-align: left;
}

.artical-comment{
    font-size: small;
    color: black;
    font-weight: normal;

}

.artical-top{
    font-size: medium;
    color: black;
    border-bottom-style: 2px solid #7FFFD4;
}
#information {
    margin: 0 20% 0 20%;

}

tr td{
    margin: 0px 40px 0px 40px;
}