@charset "utf-8";

body {
    background-color: #f3f3f3;
}

#main {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    padding: 0 15px 20px 15px;
}

#header {
    margin: 20px 20px;
}

nav li {
    display: inline-block;
    color: black;
    height: 36px;
    line-height: 36px;
    margin: 0 40px 0 40px;
    font-size: 14px;
}

.menu-selected {
    color: blue;
    border-bottom-width: 5px;
    border-bottom-color: blue;
    border-bottom-style: solid;
}

#banner {
    max-width: 80%;
    margin: 0 auto;
}

#banner ul li {
    list-style: none;
    height: 250px;
    text-align: center;
    overflow: hidden;
}

#banner ul li:not(:first-child) {
    display: none;
}

footer {
    text-align: center;
}